<%= form_for(@draft) do |f| %>
  <div class="field">
    <h1>
      <%= f.label :name %>
    </h1>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit t(:next) %>
  </div>
<% end %>
